<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIqzDMM3Kk2AKd2NsoZv_c3xoag3Ejnww</string>
	<key>GCM_SENDER_ID</key>
	<string>985481696255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nbc</string>
	<key>PROJECT_ID</key>
	<string>my-nbc</string>
	<key>STORAGE_BUCKET</key>
	<string>my-nbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985481696255:ios:bd3edc6fe08369afce8dca</string>
</dict>
</plist>